.benefits__list {
    margin-right: -30px;
    margin-bottom: -30px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include desktop {
        flex-wrap: nowrap;
    }
}

.benefits__item {
    margin-right: 30px;

    @include tablet {
        flex-basis: calc((100% - 60px)/2);
    }

    @include desktop {
        flex-basis: calc((100% - 120px)/4)
    }

    &:not(:last-child) {
        @include desktop {
            margin-right: var(--typical-mrg);
        }
    }
}

.benefits__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: var(--typical-mrg);
    border-radius: 4px;
    background-color: #F5F4FA;

    @include tablet {
        width: 354px;
    }

    @include desktop {
        width: 270px;
    }
}

.benefits__top-text {
    @include font(700, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    @include tablet {
        display: flex;
    }
}

.benefits__text {
    @include font(400, 14px, 1.71);
    margin-bottom: 30px;
    color: var(--main-text-color);
}
