.clients__title {
    @include font(700, 36px, 1.17);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
}

.clients__item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: var(--typical-mrg);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: #AFB1B8;

    transition-property: border-color, color;
    transition-duration: var(--main-duration);
    transition-timing-function: var(--main-cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.clients__icon {
    fill: currentColor;
}