.header {
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        position: relative;
    }
}

.header__page {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 16px 0;

    color: var(--black-text-color);

    @include tablet {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 88px;
    }

    @include desktop {
        margin-right: 93px;
    }
}

.logo__accent {
    color: var(--accent-color);
}

.nav {
    display: none;

    @include tablet {
        display: flex;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    @include font(500, null, 1.14);
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition-property: background-color;
    transition-duration: var(--main-duration);
    transition-timing-function: var(--main-cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts {
    display: none;

    @include tablet {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    @include desktop{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

}

.contacts__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }

    @include desktop {
        margin-right: 10px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    
    @include font(500, null, 1.14);
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition-property: background-color;
    transition-duration: var(--main-duration);
    transition-timing-function: var(--main-cubic);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width: 1199px) {
        @include font(500, 12px, 1.16);
        font-weight: 500;
    }
}

.contacts__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
    }

    @include desktop{
        margin-right: 50px;
    }
}