:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --main-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color: #2196F3;
    --footer-color: rgba(255, 255, 255, 0.6);
    --typical-mrg: 30px;
    --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --main-duration: 250ms;
}